@page "/Profile"
@attribute [Authorize]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<MudPaper class="pa-4">
    <h3>Profile</h3>
    <p>Email: @_userEmail</p>
    <p>UserId: @_userId</p>
</MudPaper>

@code{

    [CascadingParameter] private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private string? _userEmail;
    private string? _userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            _userEmail = user.FindFirst(x => x.Type == ClaimTypes.Email)?.Value;
            _userId    = user.FindFirst(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
        }
    }
}