@page "/Settings"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<MudContainer Class="mt-4">
    <MudText Typo="Typo.h4" Class="mb-4">Settings</MudText>

    <MudText Typo="Typo.h5" Class="mb-3">Account Settings</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudLink Href="/SetupMfa" Class="text-decoration-none">
                <MudCard Elevation="3" Class="h-100">
                    <MudCardContent Class="d-flex">
                        <div style="flex: 1; max-width: 33%;" class="d-flex justify-center align-center mr-3">
                            <MudIcon Icon="@Icons.Material.Filled.Security" Color="Color.Error" Size="Size.Large"/>
                        </div>
                        <div style="flex: 2;">
                            <MudText Typo="Typo.h6">Security</MudText>
                            <MudText Typo="Typo.body2">Manage your password and security preferences.</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudLink>
        </MudItem>
    </MudGrid>
</MudContainer>

