@page "/SetupMfa"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Setup MFA</h3>

@if (!string.IsNullOrEmpty(_mfaResponse?.QrCode))
{
    <img src="@_mfaResponse.QrCode" alt="QR Code" style="width:200px; height:200px;" />
}