@page "/"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<MudPaper Class="pa-4 mx-auto mt-12" Style="max-width:400px;">
    <MudText Typo="Typo.h5">Login</MudText>
    <MudTextField @bind-Value="_model.Email" Label="Email" Required="true" FullWidth="true" />
    <MudTextField @bind-Value="_model.Password" Label="Password" InputType="InputType.Password" Required="true" FullWidth="true" />
    
    <MudButton OnClick="AttemptLogin" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4" FullWidth="true">
        Login
    </MudButton>
    
    <MudText Class="mt-4">
        Don't have an account? <MudLink Href="/Register">Register here</MudLink>.
    </MudText>
</MudPaper>

@if (_errorMessages.Errors.Any())
{
    <MudPaper Class="pa-4 mx-auto mt-5 paper-error" Style="max-width:600px;">
        @foreach (var errorKvp in _errorMessages.Errors)
        {
            @if (!string.IsNullOrEmpty(errorKvp.Key))
            {
                <div class="row">
                    <div class="col">
                        <MudText><strong>@errorKvp.Key</strong></MudText>
                    </div>
                </div>
            }
            
            <div class="row">
                <div class="col">
                    <ul class="mb-0">
                        @foreach (var error in errorKvp.Value)
                        {
                            <li>
                                <MudText>@error</MudText>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </MudPaper>
}