<MudPaper Class="pa-4 mx-auto mt-5 paper-error" Style="max-width:600px;">
    @foreach (var errorKvp in Errors)
    {
        @if (!string.IsNullOrEmpty(errorKvp.Key))
        {
            <div class="row">
                <div class="col">
                    <MudText><strong>@errorKvp.Key</strong></MudText>
                </div>
            </div>
        }
            
        <div class="row">
            <div class="col">
                <ul class="mb-0">
                    @foreach (var error in errorKvp.Value)
                    {
                        <li>
                            <MudText>@error</MudText>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <MudText>@Error</MudText>
    }
</MudPaper>